body {
    margin: 0;
    padding: 1rem;
    height: calc(100vh - 2rem);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

h1 table {
    margin: auto;
    line-height: 0.7;
}

h1 td {
    width: 0.7em;
}

h1, h2 {
    font-variant-caps: petite-caps;
    text-align: center;
}

.grille table {
    border-collapse: collapse;
    margin: 0 auto;
}

.grille tr:nth-of-type(2) td {
    border-top: 3px solid black;
}
.grille tr:last-of-type td {
    border-bottom: 3px solid black;
}
.grille td:first-of-type {
    border-left: 3px solid black;
}
.grille td:last-child {
    border-right: 3px solid black;
}

.grille td {
    border: 1px solid black;
    padding: 2px;
}

.grille th,
.grille td {
    width: 30px;
    height: 30px;
    text-align: center;
}

.grille .case.noire {
    background-color: black;
}

.grille input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
}

.grille input[disabled] {
    background-color: black;
}

.definitions {
    display: flex;
    justify-content: space-evenly;
}

.definitions .horizontales,
.definitions .verticales {
    width: 45%;
}

.definitions li::marker {
  font-weight: bold;
}