body {
    margin: 0;
    padding: 0;
    font-family: Times, 'Times New Roman', Georgia, serif;
}

form {
    padding: 1rem;
    height: calc(100vh - 2rem);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

h1 table {
    margin: auto;
    line-height: 0.8;
}

h1 td {
    width: 0.7em;
}

h1,
h2 {
    font-variant-caps: petite-caps;
    text-align: center;
}

table.grille {
    border-collapse: collapse;
    margin: 0 auto;
}

.grille th,
.grille td {
    width: 30px;
    height: 30px;
    text-align: center;
}

.grille td {
    border: 1px solid black;
    padding: 2px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans;
}

.grille tr:nth-of-type(2) td {
    border-top-width: 3px;
}
.grille tr:last-of-type td {
    border-bottom-width: 3px;
}
.grille td:first-of-type {
    border-left-width: 3px;
}
.grille td:last-child {
    border-right-width: 3px;
}

.grille .case.noire {
    background-color: black;
}

.grille .case.noire {
    background-color: black;
}

.grille input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
}

.grille input[disabled] {
    background-color: black;
}

.definitions {
    display: flex;
    justify-content: space-evenly;
}

.definitions .horizontales,
.definitions .verticales {
    width: 45%;
}

.definitions li::marker {
    font-weight: bold;
}

button[type='submit'] {
    width: fit-content;
    margin: 0 auto;
}

button[type='submit'] {
    width: fit-content;
    margin: 0 auto;
    border: none;
    background: none;
    font-family: inherit;
    font-size: 1em;
    text-decoration: underline;
}

button[type="submit"]:hover {
    cursor: pointer;
    color: #2a6496;
}

button[type="submit"]:active {
    color: darkorchid;
}